In [1]:
#Importo librerias
import pandas as pd
import numpy as np

In [2]:
#Leo mi archivo.csv
Alumnos = pd.read_csv("MiClaseAnalitica.csv") #, index_col=0
Alumnos

,Nombre,Identificador de inicio de sesion,Identificacion del SIS,Seccion,Rol,actividad,Actividad total,Administrative Links
0,Gerardo Aburto Cancino,Gerardo Aburto Cancino,A01552307,2801461,Plataformas de analitica de negocios para orga...,Estudiante,NaN,NaN
1,Gabriela Cantu Sanchez,Gabriela Cantu Sanchez,A01735256,3526053,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 14:14,7:14
2,Manuel Carrion Casta n,Manuel Carrion Casta n,A01734873,3522037,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 15:13,NaN
3,Adolfo Centeno Tellez,Adolfo Centeno Tellez,L01141572,598418,Plataformas de anal tica de negocios para orga...,Profesor,8 de ago en 11:57,13:33
4,Elizabeth Cobos Hernandez,Elizabeth Cobos Hernandez,A01735322,3545208,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 17:13,2:01:11
5,Aremy Cecilia Diaz Carcamo,Aremy Cecilia Diaz Carcamo,A01552123,2626218,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 16:02,45:56:00
6,Icker Andr s Francisco Jimenez,Icker Andr s Francisco Jim nez,A01735437,3547254,Plataformas de anal tica de negocios para orga...,Estudiante,NaN,NaN
7,Alfredo Garcia Suarez,Alfredo Garcia Suarez,L03534968,4960690,Plataformas de anal tica de negocios para orga...,Profesor,8 de ago en 22:56,1:25:33
8,Maria Fernanda Ledesma Martinez,Maria Fernanda Ledesma Martinez,A01734203,3401287,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 13:04,NaN
9,Luis Alberto Miron Toru o,Luis Alberto Miron Toru o,A01735489,3557776,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 16:11,2:31
10,Elena Margarita Niv n Hern ndez,Elena Margarita Niv n Hern ndez,A01174666,3538586,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 15:09,NaN
11,Manlio Fabio Rivera P rez,Manlio Fabio Rivera P rez,A01734797,3483793,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 16:15,1:01:31
12,Alberto Rodr guez Porras,Alberto Rodriguez Porras,A01721497,2691990,Plataformas de anal tica de negocios para orga...,Estudiante,NaN,NaN
13,Rodrigo Ruiz Teodoro,Rodrigo Ruiz Teodoro,A01730322,2564398,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 14:26,18:09
14,Victoria Eugenia T llez Castillo,Victoria Eugenia T llez Castillo,A01732258,2752743,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 12:11,NaN
15,Omar Gibran Valadez D az,Omar Gibran Valadez D az,A01734651,3448530,Plataformas de anal tica de negocios para orga...,Estudiante,7 de ago en 19:28,3:49

In [3]:
#Verifico el tipo de dato de mi elemento alumnos
type(Alumnos)

pandas.core.frame.DataFrame

In [4]:
#verificamos la ubicación de los elemenmtos nulos del dataframe
Dataframe_nulos= Alumnos.isnull()
Dataframe_nulos

,Nombre,Identificador de inicio de sesion,Identificacion del SIS,Seccion,Rol,actividad,Actividad total,Administrative Links
0,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,True,True
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False

In [5]:
#Obtenemos la cuenta de los elementos nulos del dataframe por COLUMNA
Cuenta_Nulos= Alumnos.isnull().sum()
Cuenta_Nulos

Nombre                               0
Identificador de inicio de sesion    0
Identificacion del SIS               0
Seccion                              0
Rol                                  0
actividad                            0
Actividad total                      3
Administrative Links                 7
dtype: int64

In [6]:
#Obtenemos la cuenta de los elementos nulos del dataframe por FILA
Cuenta_Nulos= Alumnos.isnull().sum(axis=1)
Cuenta_Nulos

0     2
1     0
2     1
3     0
4     0
5     0
6     2
7     0
8     1
9     0
10    1
11    0
12    2
13    0
14    1
15    0
dtype: int64

In [7]:
#Obtenemos la cuenta de los elementos nulos del dataframe completo
Cuenta_Total_Nulos= Alumnos.isnull().sum().sum()
Cuenta_Total_Nulos

10

In [8]:
#Verificamos cuantos datos hay de cada valor
frecuencia= Alumnos['actividad'].value_counts()
frecuencia

Estudiante    14
Profesor       2
Name: actividad, dtype: int64

In [9]:
#Verificamos valores nulos por columna
nulos= Alumnos['actividad'].value_counts(dropna=False)
nulos

Estudiante    14
Profesor       2
Name: actividad, dtype: int64

In [10]:
#Eliminamos filas con nulos
Alumnos.dropna()

,Nombre,Identificador de inicio de sesion,Identificacion del SIS,Seccion,Rol,actividad,Actividad total,Administrative Links
1,Gabriela Cantu Sanchez,Gabriela Cantu Sanchez,A01735256,3526053,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 14:14,7:14
3,Adolfo Centeno Tellez,Adolfo Centeno Tellez,L01141572,598418,Plataformas de anal tica de negocios para orga...,Profesor,8 de ago en 11:57,13:33
4,Elizabeth Cobos Hernandez,Elizabeth Cobos Hernandez,A01735322,3545208,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 17:13,2:01:11
5,Aremy Cecilia Diaz Carcamo,Aremy Cecilia Diaz Carcamo,A01552123,2626218,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 16:02,45:56:00
7,Alfredo Garcia Suarez,Alfredo Garcia Suarez,L03534968,4960690,Plataformas de anal tica de negocios para orga...,Profesor,8 de ago en 22:56,1:25:33
9,Luis Alberto Miron Toru o,Luis Alberto Miron Toru o,A01735489,3557776,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 16:11,2:31
11,Manlio Fabio Rivera P rez,Manlio Fabio Rivera P rez,A01734797,3483793,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 16:15,1:01:31
13,Rodrigo Ruiz Teodoro,Rodrigo Ruiz Teodoro,A01730322,2564398,Plataformas de anal tica de negocios para orga...,Estudiante,8 de ago en 14:26,18:09
15,Omar Gibran Valadez D az,Omar Gibran Valadez D az,A01734651,3448530,Plataformas de anal tica de negocios para orga...,Estudiante,7 de ago en 19:28,3:49

In [11]:
#Eliminamos columnas con nulos
Alumnos.dropna(1)

/var/folders/s5/9tn200911wjfzyc3b8q58s900000gn/T/ipykernel_3907/3704243602.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  Alumnos.dropna(1)

,Nombre,Identificador de inicio de sesion,Identificacion del SIS,Seccion,Rol,actividad
0,Gerardo Aburto Cancino,Gerardo Aburto Cancino,A01552307,2801461,Plataformas de analitica de negocios para orga...,Estudiante
1,Gabriela Cantu Sanchez,Gabriela Cantu Sanchez,A01735256,3526053,Plataformas de anal tica de negocios para orga...,Estudiante
2,Manuel Carrion Casta n,Manuel Carrion Casta n,A01734873,3522037,Plataformas de anal tica de negocios para orga...,Estudiante
3,Adolfo Centeno Tellez,Adolfo Centeno Tellez,L01141572,598418,Plataformas de anal tica de negocios para orga...,Profesor
4,Elizabeth Cobos Hernandez,Elizabeth Cobos Hernandez,A01735322,3545208,Plataformas de anal tica de negocios para orga...,Estudiante
5,Aremy Cecilia Diaz Carcamo,Aremy Cecilia Diaz Carcamo,A01552123,2626218,Plataformas de anal tica de negocios para orga...,Estudiante
6,Icker Andr s Francisco Jimenez,Icker Andr s Francisco Jim nez,A01735437,3547254,Plataformas de anal tica de negocios para orga...,Estudiante
7,Alfredo Garcia Suarez,Alfredo Garcia Suarez,L03534968,4960690,Plataformas de anal tica de negocios para orga...,Profesor
8,Maria Fernanda Ledesma Martinez,Maria Fernanda Ledesma Martinez,A01734203,3401287,Plataformas de anal tica de negocios para orga...,Estudiante
9,Luis Alberto Miron Toru o,Luis Alberto Miron Toru o,A01735489,3557776,Plataformas de anal tica de negocios para orga...,Estudiante
10,Elena Margarita Niv n Hern ndez,Elena Margarita Niv n Hern ndez,A01174666,3538586,Plataformas de anal tica de negocios para orga...,Estudiante
11,Manlio Fabio Rivera P rez,Manlio Fabio Rivera P rez,A01734797,3483793,Plataformas de anal tica de negocios para orga...,Estudiante
12,Alberto Rodr guez Porras,Alberto Rodriguez Porras,A01721497,2691990,Plataformas de anal tica de negocios para orga...,Estudiante
13,Rodrigo Ruiz Teodoro,Rodrigo Ruiz Teodoro,A01730322,2564398,Plataformas de anal tica de negocios para orga...,Estudiante
14,Victoria Eugenia T llez Castillo,Victoria Eugenia T llez Castillo,A01732258,2752743,Plataformas de anal tica de negocios para orga...,Estudiante
15,Omar Gibran Valadez D az,Omar Gibran Valadez D az,A01734651,3448530,Plataformas de anal tica de negocios para orga...,Estudiante

In [16]:
#Sustituir valores nulos por un valor numérico en  concreto 
#Filtro por columnas
Actividad_total=Alumnos.iloc[ : , [6]]
Actividad_total.fillna('8 de Agosto en 14:50')

         Actividad total
0   8 de Agosto en 14:50
1      8 de ago en 14:14
2      8 de ago en 15:13
3      8 de ago en 11:57
4      8 de ago en 17:13
5      8 de ago en 16:02
6   8 de Agosto en 14:50
7      8 de ago en 22:56
8      8 de ago en 13:04
9      8 de ago en 16:11
10     8 de ago en 15:09
11     8 de ago en 16:15
12  8 de Agosto en 14:50
13     8 de ago en 14:26
14     8 de ago en 12:11
15     7 de ago en 19:28

In [18]:
#Sustituir valores nulos por un string en  concreto 
#Filtro por columnas
Actividad_total=Alumnos.iloc[ : , [6]]
Actividad_total.fillna("4")

      Actividad total
0                   4
1   8 de ago en 14:14
2   8 de ago en 15:13
3   8 de ago en 11:57
4   8 de ago en 17:13
5   8 de ago en 16:02
6                   4
7   8 de ago en 22:56
8   8 de ago en 13:04
9   8 de ago en 16:11
10  8 de ago en 15:09
11  8 de ago en 16:15
12                  4
13  8 de ago en 14:26
14  8 de ago en 12:11
15  7 de ago en 19:28

In [17]:
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
Actividad_total=Alumnos.iloc[ : , [6]]
Actividad_total.fillna(method="ffill")

      Actividad total
0                 NaN
1   8 de ago en 14:14
2   8 de ago en 15:13
3   8 de ago en 11:57
4   8 de ago en 17:13
5   8 de ago en 16:02
6   8 de ago en 16:02
7   8 de ago en 22:56
8   8 de ago en 13:04
9   8 de ago en 16:11
10  8 de ago en 15:09
11  8 de ago en 16:15
12  8 de ago en 16:15
13  8 de ago en 14:26
14  8 de ago en 12:11
15  7 de ago en 19:28

In [19]:
#Sustituir valores nulos por valores no nulos hacia atrás backward fill" ("bfill")
#Filtro por columnas
Actividad_total=Alumnos.iloc[ : , [6]]
Actividad_total.fillna(method="bfill")

###esta es una prueba de sincronización

      Actividad total
0   8 de ago en 14:14
1   8 de ago en 14:14
2   8 de ago en 15:13
3   8 de ago en 11:57
4   8 de ago en 17:13
5   8 de ago en 16:02
6   8 de ago en 22:56
7   8 de ago en 22:56
8   8 de ago en 13:04
9   8 de ago en 16:11
10  8 de ago en 15:09
11  8 de ago en 16:15
12  8 de ago en 14:26
13  8 de ago en 14:26
14  8 de ago en 12:11
15  7 de ago en 19:28